* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*-----------------------HEADER----------------------------------*/

  header {
    width: 100%;
    max-height: 10rem;
    background-color:#FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    border:solid 2px orange;
    
}

header form {
  background-color: orange;
  border: solid 1px orange;
  border-radius: 0.3em;
  padding: 0.3em;
}

 nav {
  display: block;
  height: 128px;
  padding-top: 30px;
}


header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 3rem;
}

header div ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul a {
    display: flex;
    padding: 2rem;
    text-decoration: none;
    color:#777777;
    font-size: 18px;
    height: 3rem;
}

header div ul a {
  display: flex;
  padding: 2rem;
  text-decoration: none;
  color:#777777;
  font-size: 22px;
}

header div a img {
  max-height: 128px;
}

header form input {
  width: 96%;
 }

form input, form button {
  font-size: 0.9em;
  border-radius: 0.2em;
  border: none;
  padding: 0.1em;
}

form button {
  background-color: orange;
  cursor: pointer;
  color: #FFFFFF;
}

form button:hover {
  background-color: #FFFFFF;
  color: orange;
}

header div i {
  font-size: 35px;
  
}

header nav ul a:hover {
  background-color: #FFFFFF;
  color: orange; 
}

header div i:hover {
  background-color: #FFFFFF;
  color: orange;
}

header div a:hover {
  background-color: #FFFFFF;
  color: orange;
}

/*-----------------------MAIN----------------------------------*/

main {
  height: 1000px;
  width: 100%;
  border: 20px solid #FFFFFF;
}

main section nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 260px;
  padding-bottom: 1.5rem;
}

main section nav button {
  display: block;
  font-family:'Times New Roman', Times, serif;
  padding: 1rem;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #FFFFFF;
  border: 1.9px solid rgb(231, 226, 226);
  border-radius: 0.5em;
}

main section nav button a {
  text-decoration: none;
}

main section nav button p {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-size: 18px;
  color:#777777;
  padding-top: 1.4rem;
  
}

main section nav button:hover {
  border: solid 1px orange;
}

.promoções {
  display: flex;
  justify-content: flex-start;
  color:#777777;
  font-size: 17px;
  padding-top: 0.3rem;
  padding-bottom: 1.4rem;
}

section div i {
  padding-left: 10px;
  padding-top: 2px;
  font-size: 26px;
  color: orange;
}

/*------------------------------Galeria-------------------------------*/

.ofertas {
  display: flex;
  justify-content: flex-start;
  color:#777777;
  font-size: 17px;
  padding-bottom: 1.5rem;
}

.imagens {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 260px;
  padding-bottom: 1.5rem;
}

.imagens button {
  display: block;
  font-family:'Times New Roman', Times, serif;
  padding: 1rem;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #FFFFFF;
  border: 1.9px solid rgb(231, 226, 226);
  border-radius: 0.5em;
}

.imagens button a {
  text-decoration: none;
}

.imagens button p {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-size: 18px;
  color:#777777;
  padding-top: 1.4rem;
}

.imagens button:hover {
  border: solid 1px orange;
}

.vendidos {
  display: flex;
  justify-content: flex-start;
  color:#777777;
  font-size: 17px;
  padding-bottom: 1.5rem;
}

.ícones {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 260px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid orange;
}

.ícones button {
  display: block;
  font-family:'Times New Roman', Times, serif;
  padding: 1rem;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #FFFFFF;
  border: 1.9px solid rgb(231, 226, 226);
  border-radius: 0.5em;
}

.ícones button a {
  text-decoration: none;
}

.ícones button p {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-size: 18px;
  color:#777777;
  padding-top: 1.4rem;
}

.ícones button:hover {
  border: solid 1px orange;
}